{% extends 'base.html'%}
{% block  content %}
<section>
    <div class="banner5">
        <div class="back6">
            <p>Our Offered Menu</p>
            <h1>Some Trendy And Popular<br>
                       Courses Offerd</h1>
            <nav>
                <a href="">Special</a>
                <a href="">Lunch</a>
                <a href="">Breckfirst</a>
                <a href="">Dinner</a>
            </nav>
        </div>
    </div>
    <div class="mainoffer">
        <div  class="offer">
            <p>Servicees We Offer</p>
            <h1>Our Best Services</h1>
        </div>
     </div>
     <div class="mainoffer1">
        <div class="chef1">
            <div class="icons">
                <i class="fa-solid fa-user"></i>
                <h2>Best Chef</h2>
                <p>Lorem ipsum dolor sit amet, consectetur<br>
                    adipisicing elit, sed do eiusmod tempor<br>
                    incididunt ut labore et dolore.</p>
            </div>
        </div>
        <div class="chef2">
            <div class="icons2">
                <i class="fa-solid fa-utensils"></i>
                <h2>Quality Food</h2>
                <p>Lorem ipsum dolor sit amet, consectetur<br>
                    adipisicing elit, sed do eiusmod tempor<br>
                    incididunt ut labore et dolore.</p>
            </div>
        </div>
        <div class="chef3">
            <div class="icons2">
                <i class="fa-solid fa-user"></i>
                <h2>Perfect Cook</h2>
                <p>Lorem ipsum dolor sit amet, consectetur<br>
                    adipisicing elit, sed do eiusmod tempor<br>
                    incididunt ut labore et dolore.</p>
        </div>
     </div>
</section>
 {% endblock %}